<section class="bg-light rounded-bottom custom-box shadow">
  <p class="fs-5 text-light rounded-top bg-primary px-3 accordion-header">
    Equipamentos
  </p>
  <table class="w-100">
    <tr
      class="d-flex justify-content-between text-center align-items-start p-4"
    >
      <th>CÓDIGO</th>
      <th>DESCRIÇÃO</th>
      <th>MODELO</th>
      <th>IP</th>
      <th>COLABORADORES</th>
      <th>STATUS</th>
    </tr>
    <tr
      class="border border-bottom-0 d-flex justify-content-between text-center p-3 align-items-center w-100"
    >
      <td>2</td>
      <td>TESTE</td>
      <td>
        iDFace <br />
        Control ID
      </td>
      <td>192.168.0.128</td>
      <td>4</td>
      <td>
        <span class="w-25 rounded-pill text-light bg-warning py-1 px-2 fw-bold"
          >OFF-LINE
        </span>
      </td>
    </tr>
  </table>
</section>
